<%= form_with(model: trade) do |form| %>
  <% if trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
        <% trade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :trade_type, "Call/Put" %>
    <%= form.text_field :trade_type, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :symbol %>
    <%= form.text_field :symbol, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :open_price %>
    <%= form.text_field :open_price, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :close_price %>
    <%= form.text_field :close_price, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :open_date %>
    <%= form.datetime_select :open_date %>
  </div>

  <div class="field form-group">
    <%= form.label :close_date %>
    <%= form.datetime_select :close_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
