<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Trade type</th>
      <th scope="col">Symbol</th>
      <th scope="col">Open price</th>
      <th scope="col">Close price</th>
      <th scope="col">Open date</th>
      <th scope="col">Close date</th>
      <th scope="col" colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.trade_type %></td>
        <td><%= trade.symbol %></td>
        <td><%= trade.open_price %></td>
        <td><%= trade.close_price %></td>
        <td><%= trade.open_date %></td>
        <td><%= trade.close_date %></td>
        <td><%= link_to 'Show', trade %></td>
        <td><%= link_to 'Edit', edit_trade_path(trade) %></td>
        <td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Close trade', close_trade_path(trade), method: :post, data: { confirm: 'Are you sure to close this position?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade', new_trade_path %>
